@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;

  /* --third-color: ""; */
}
:root {
  --primary-color: "#171717";
  --secondry-color: "#f3f4f6";
}
html,
body {
  width: 100%;
  height: 100%;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #dadada;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #f08a5d;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background: #f39e79;
}
::selection {
  background: #f08a5d;
  color: #ffffff;
}

#root {
  width: 100%;
  min-height: 100%;
  text-decoration: none;
  overflow: hidden;
  background-color: #eeeeee;
}
body {
  overflow-x: hidden !important;
}

.header {
  width: 100%;
  position: relative;
  top: 0;
  z-index: 999;

  .nav {
    width: 100%;
    position: relative;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    .linksContainer {
      position: relative;
      display: flex;
      align-items: center;
      gap: 20px;

      div {
        position: relative;

        .navLinks {
          display: inline-block;
          width: 100%;
          height: 100%;
          position: relative;
          color: var(--primary-color);
          text-decoration: none;
          font-weight: 400;
          padding: 5px 15px;
          border-radius: 30px;
          transition: all 0.3s linear;
          cursor: pointer;

          &::after {
            content: "";
            position: absolute;
            bottom: 1px;
            left: 0;
            width: 0;
            height: 3px;
            background-color: #171717;
            border-radius: 20px;
            transition: width 0.5s linear;
          }
          &:hover::after {
            width: 100%;
          }
        }
        .act {
          display: inline-block;
          width: 100%;
          height: 100%;
          position: relative;
          color: #f3f4f6;
          text-decoration: none;
          font-weight: 400;
          padding: 5px 15px;
          border-radius: 30px;
          transition: all 0.3s linear;
          background-color: #171717;
        }
      }
    }
  }
}

@media (max-width: 1150px) {
  .linksContainer {
    gap: 10px !important;
  }
  .navLinks,
  .act {
    padding: 5px 10px !important;
    font-size: 0.8rem !important;
  }
}

.hidden {
  top: -100px !important;
}

.fixed {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  background-color: white;
  backdrop-filter: blur(10px);
  z-index: 1000;
  border-bottom: 1px solid black;
  transition: top 0.6s ease-in-out;
}

.btnContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .loginBtn {
    padding: 5px 20px;
    background-color: transparent;
    border: 1px solid #171717;
    color: #171717;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #f3f4f6;
      background-color: #171717;
    }
    &:active {
      transform: scale(0.8);
    }
  }
}
.slider {
  position: relative;
}
.sectionContainer {
  width: 100%;
  padding: 50px 0;
}

.title {
  width: 100%;
  margin-bottom: 50px;
  position: relative;
}

.title > h1 {
  position: relative;
  width: fit-content;
  color: #171717;
}
.title > h1::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 3px;
  background-color: #f08a5d;
  bottom: -5px;
  left: 0;
  border-radius: 20px;
}

.alumniContainer {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  padding: 25px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #171717;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

  .imageContainer {
    width: 240px;
    height: 240px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f08a5d;
    padding: 5px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      transition: all 0.1s linear;
      border-radius: 50%;
      border: 5px solid #fff;
    }
    &:hover.shine::before {
      animation: shine 1s;
    }
  }

  .alumniInfo {
    margin-top: 20px;

    h3 {
      text-align: center;
      color: #f08a5d;
    }
    p {
      margin-top: 20px;
      display: block;
      text-align: justify;
    }
  }

  .socialMediaContainer {
    position: absolute;
    left: 0;
    top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 0 0 10px;
    transition: all 0.4s linear;

    .iconContainer {
      width: 40px;
      height: 40px;
      border: 1px solid;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.3rem;
      border-radius: 50%;
      padding: 5px;
      position: relative;
      left: -50px;
      transition: all 0.2s linear;

      a {
        color: #171717;
        transition: color 0.8s linear;
      }

      &:hover {
        border: 1px solid #f08a5d;
      }
      &:hover a {
        color: #f08a5d;
      }
      &:nth-child(1) {
        transition-delay: 0.1s;
      }
      &:nth-child(2) {
        transition-delay: 0.2s;
      }
      &:nth-child(3) {
        transition-delay: 0.3s;
      }
      &:nth-child(4) {
        transition-delay: 0.4s;
      }
    }
  }

  &:hover .socialMediaContainer .iconContainer {
    left: 0;
  }
}

.shine::before {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  content: "";
  display: block;
  height: 100%;
  left: -75%;
  position: absolute;
  top: 0;
  transform: skewX(-25deg);
  width: 50%;
  z-index: 2;
  pointer-events: none;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

.announcement {
  width: 100%;
  padding: 10px 100px;
  background-color: #fab341;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    p {
      display: block;
      margin: 0;
      font-weight: 600;
    }
  }

  a {
    color: #171717;
    text-decoration: none;
    font-size: 1.2rem;
  }
}

.eventContainer {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  border-radius: 10px;
  color: #171717;

  p {
    margin: 0;
    font-size: 1.3rem;
  }
  h2 {
    font-size: 5rem;
    color: #f08a5d;
  }

  .heading {
    position: relative;
    width: fit-content;

    a {
      color: #171717;
      text-decoration: none;
      transition: color 0.3s;

      i {
        font-size: 2rem;
        transform: rotate(-45deg);
        transition: transform 0.3s;
      }
      h1 {
        font-size: 1.7rem;
      }

      &:hover {
        color: #f08a5d;
      }

      &:hover i {
        transform: rotate(-45deg) translate(10px);
      }
    }
  }
}

.eventDate {
  position: relative;

  p i {
    margin-right: 20px;
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
}

.location {
  position: relative;

  p i {
    margin-right: 20px;
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
}

.viewMoreBtn {
  padding: 15px 30px;
  background-color: transparent;
  color: #f08a5d;
  border: 1px solid #f08a5d;
  font-size: 1.3rem;
  font-weight: 500;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s;

  &:hover {
    border: 1px solid #171717;
    background-color: #171717;
    color: #d1d5db;
    transform: translateX(-50%) scale(1.15);
    border-radius: 50px;
  }
}

.storyImgContainer {
  width: 100%;
  height: 250px;
  position: relative;
  text-align: center;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    position: relative;
    transition: transform 0.5s ease-in-out;
  }
  &:hover img {
    transform: scale(1.3);
  }
}

.visionContainer {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

  .title h1 {
    left: 50%;
    transform: translateX(-50%);
  }

  .visionDetails {
    position: relative;
    width: 100%;
    padding: 20px;

    p {
      color: #171717;
      font-size: 1.3rem;
      font-weight: 500;
    }
  }

  .extraDetails {
    width: 100%;
    position: relative;
    padding: 10px;

    .cont {
      position: relative;
      background-color: #ececec;
      width: 100%;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.349) 0px 2px 8px;

      h1 {
        font-size: 4rem;
        color: #f08a5d;
        font-weight: 700;
      }

      p {
        color: #171717;
        font-size: 1.3rem;
      }
    }
  }
}

.messageContainer {
  width: 100%;
  position: relative;
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

  .messageImgContainer {
    width: 100%;
    position: relative;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    .profilePic {
      height: 160px;
      width: 160px;
      position: relative;
      padding: 5px;
      border-radius: 50%;
      overflow: hidden;
      background-color: #f08a5d;
      padding: 3px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
        border: 3px solid #fff;
      }
      &:hover.shine::before {
        animation: shine 1s;
      }
    }
  }
  .name {
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 15px;
    h5 {
      color: #f08a5d;
      font-size: 1.6rem;
      font-weight: 600;
      margin: 0;
    }

    p {
      color: #171717;
    }
  }
  .theirMessage {
    width: 100%;
    text-align: center;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(238 238 238);
    box-shadow: rgb(0 0 0 / 23%) 0px 2px 8px;
    p {
      color: #171717;
      margin: 0;
    }
  }
}

.newsContainer {
  width: 100%;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

  .newsImageContainer {
    width: 100%;
    height: 250px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 10px 10px 0 0;
    }
  }
  .newsHeading {
    margin-top: 10px;
    width: 100%;
    position: relative;
    padding: 0 20px;

    p a {
      font-size: 15px;
      color: #f08a5d;
      margin: 0;
      text-decoration: none;
      position: relative;
      transition: all 0.5s ease;

      &:hover {
        transition: alln 0.5s ease;
        text-decoration: underline;
      }
    }
    p {
      margin: 0;
      transition: all 0.5s ease;
    }
  }
  .newsDetails {
    position: relative;
    padding: 10px 20px;

    p {
      margin: 0;
      color: #171717;
      font-size: 13px;
    }
  }
}

.rdMore {
  font-size: 16px;
  color: #f08a5d;
  cursor: pointer;
  font-weight: 500;
}

.testimonialsContainer {
  margin: 0 15px 0 0;
  position: relative;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px; */

  .image-box {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .userProfile {
      width: 90px;
      height: 90px;
      display: inline-block;
      position: relative;
      object-fit: cover;
      object-position: top;
      background-color: #f08a5d;
      border-radius: 50%;
      vertical-align: middle;
      border: 2px solid;
    }
    .user-name {
      position: relative;
      width: 200px;

      h4 {
        color: #f08a5d;
        margin: 0;
      }
      p {
        margin: 0;
        color: #171717;
      }
    }
    .qt {
      position: absolute;
      right: -2px;
      width: 40px;
      top: 5px;
      opacity: 1;
    }
  }
  .testimonialsDetails {
    position: relative;

    p {
      color: #171717;
    }
  }
}
.rating-stars {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-top: -5px;
}
.custom-dot-list-style li button {
  border-color: #f08a5d;
}
.react-multi-carousel-dot--active button {
  background: #f08a5d !important;
}
.react-multiple-carousel__arrow {
  background: #f08a5d !important;
  z-index: 1;
}
.react-multiple-carousel__arrow:hover {
  background: #ffa27b !important;
}

.footerContainer {
  position: relative;
  width: 100%;
  padding: 50px;
  padding-bottom: 20px;
  background-color: #f08a5d;
  margin-top: 50px;
}
.footerLogoContainer {
  width: 100%;
  padding: 20px 10px;

  img {
    width: 170px;
    object-fit: cover;
    object-position: center;
  }

  p {
    color: #ffffff;
  }
  h3 {
    color: #ffffff;
  }
  .footerSocialMedia {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .footerIcon {
      height: 50px;
      width: 50px;
      border: 1px solid #ffffff;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.footerLinksContainers {
  width: 100%;
  padding: 20px 10px;
  position: relative;

  h3 {
    margin-top: 50px;
    color: #ffffff;
    margin-bottom: 40px;
    font-size: 25px;
  }
  p {
    color: #ffffff;
  }
  ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0;
  }
  ul li {
    position: relative;
    margin-bottom: 10px;

    &:hover::after {
      width: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 3px;
      background-color: #f08a5d;
      left: 0;
      bottom: -3px;
      z-index: 999;
      transition: width 0.5s cubic-bezier(1, 0, 0, 1);
      border-radius: 20px;
    }
  }
  ul li a {
    text-decoration: none;
    color: #f3f4f6;
    font-size: 20px;
    letter-spacing: 1px;
  }
}

.mobNo {
  position: relative;
  color: #ffffff;
  top: -20px;
  font-weight: 500;
}

.endSection {
  width: 100%;
  padding: 15px;
  background-color: #2e2e2e;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    margin: 0;
    color: #ffffff;

    span {
      color: #f08a5d;
    }
  }
}
body.menu-open {
  overflow: hidden;
}

@media (max-width: 950px) {
  .nav {
    padding: 0 !important;
  }
  .menuBtnContainer {
    display: block !important;
  }
  .lkns {
    margin-bottom: 25px;
    text-align: center;
  }
  .linksContainer {
    position: absolute !important;
    top: 0px;
    right: -100%;
    background-color: black;
    display: block !important;
    transition: right 1s ease-in-out;
    z-index: 9999;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 40px 30px;
    .navLinks {
      padding: 7px 50px !important;
      border: 1px solid #f08a5d;
      font-size: 1.6rem !important;
      color: #f08a5d !important;

      &::after {
        display: none;
      }
    }
    .act {
      font-size: 1.9rem !important;
      padding: 7px 50px !important;
      background: #f08a5d !important;
    }
  }
  .open {
    right: 0;
    transition: right 0.3s ease-in-out;
  }
}

.menuBtnContainer {
  display: none;
}
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: rgb(19, 19, 19);
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

@media (max-width: 668px) {
  .nav {
    padding: 0 !important;
  }
  .upperHeader {
    padding: 10px 50px !important;
  }
  .logoContainer {
    width: 160px !important;

    p {
      font-size: 13.5px !important;
      line-height: 15px !important;

      span {
        font-size: 15px !important;
      }
      .secondLogo {
        font-size: 13px !important;
      }
    }
  }

  .linksContainer {
    width: 100% !important;
  }
  .btnContainer .loginBtn {
    padding: 3px 12px !important;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .nav {
    padding: 0 !important;
  }
  .upperHeader {
    padding: 10px 20px !important;
  }
  .logoContainer {
    width: 160px !important;

    p {
      font-size: 12.5px !important;
      line-height: 13px !important;

      span {
        font-size: 14px !important;
      }
      .secondLogo {
        font-size: 12px !important;
      }
    }
  }

  .bann {
    display: none !important;
  }
  .carousel-inner .carousel-item .mobBanner {
    display: block !important;
  }
  .titleContainer a {
    font-size: 16px !important;
  }
  .titleContainer a i {
    font-size: 15px !important;
  }
}
.carousel-inner .carousel-item .mobBanner {
  display: none;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 105vh;
  z-index: 2;
  display: flex;
  z-index: 999999;

  .bar {
    width: 10vw;
    height: 100vh;
    background-color: beige;
  }
}
.counter {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 9999;
  padding: 0.2em 0.4em;
  font-size: 20vw;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 9999991;
}

table {
  background-color: #fff !important;
  text-align: center;
  border-collapse: collapse;
  color: #171717;

  th,
  td {
    color: #171717;
    padding: 10px;
    border: 1px solid #f08a5d;
  }
  thead {
    background-color: #f08a5d;
  }
}

.p-datatable .p-paginator-bottom {
  border-width: 0 0 1px 0;
  border-radius: 0;
}
.p-component,
.p-component * {
  box-sizing: border-box;
}
.p-paginator {
  background: #ffffffde;
  color: #6b7280;
  border: solid #f3f4f6;
  border-width: 0;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}

.p-component {
  font-size: 1rem;
  font-weight: normal;
}
.p-link:disabled {
  cursor: default;
}
.p-paginator .p-paginator-first {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
  background-color: transparent;
  border: 0 none;
  color: #6b7280;
  min-width: 3rem;
  height: 3rem;
  margin: 0.143rem;
  transition: box-shadow 0.2s;
  border-radius: 50%;
}

.p-paginator-page,
.p-paginator-next,
.p-paginator-last,
.p-paginator-first,
.p-paginator-prev,
.p-paginator-current {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  user-select: none;
  overflow: hidden;
  position: relative;
}
.p-link {
  text-align: left;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  user-select: none;
}

.p-disabled,
.p-disabled * {
  cursor: default;
  pointer-events: none;
  user-select: none;
}
.p-component,
.p-component * {
  box-sizing: border-box;
}
.p-link {
  font-size: 1rem;
  border-radius: 6px;
}
.p-disabled,
.p-component:disabled {
  opacity: 0.6;
}
.p-component {
  font-size: 1rem;
  font-weight: normal;
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #f08a5d;
  border-color: #eef2ff;
  color: black;
}
.p-paginator .p-paginator-pages .p-paginator-page {
  background-color: transparent;
  border: 0 none;
  color: #f39e79;
  min-width: 3rem;
  height: 3rem;
  margin: 0.143rem;
  transition: box-shadow 0.2s;
  border-radius: 50%;
}
.p-paginator-page,
.p-paginator-next,
.p-paginator-last,
.p-paginator-first,
.p-paginator-prev,
.p-paginator-current {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  user-select: none;
  overflow: hidden;
  position: relative;
}
.p-paginator .p-dropdown {
  margin-left: 0.5rem;
  height: 3rem;
}
.p-dropdown {
  display: inline-flex;
  cursor: pointer;
  position: relative;
  user-select: none;
}
.p-dropdown {
  background: white;
  /* border: 1px solid #d1d5db; */
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 6px;
  outline-color: transparent;
}
.p-hidden-accessible {
  border: 0;
  padding: 0;
  margin: -1px;
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
.p-dropdown-label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  flex: 1 1 auto;
  width: 1%;
  text-overflow: ellipsis;
  cursor: pointer;
}
.p-inputtext {
  margin: 0;
}
.p-inputtext {
  font-family: var(--font-family);
  font-feature-settings: var(--font-feature-settings, normal);
  font-size: 1rem;
  color: #171717;
  background: #f08a5d;
  padding: 0.75rem 0.75rem;
  border: 1px solid #d1d5db;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  appearance: none;
  border-radius: 6px;
  outline-color: transparent;
}
.p-dropdown-label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  flex: 1 1 auto;
  width: 1%;
  text-overflow: ellipsis;
  cursor: pointer;
}
.p-dropdown .p-dropdown-trigger {
  background: transparent;
  color: #6b7280;
  width: 3rem;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.p-dropdown-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.p-dropdown-panel {
  background: #ffffff;
  color: #4b5563;
  border: 0 none;
  border-radius: 6px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.p-hidden-accessible {
  border: 0;
  padding: 0;
  margin: -1px;
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
.p-dropdown-panel .p-dropdown-items {
  padding: 0.75rem 0;
}
/* .p-dropdown-items-wrapper {
  overflow: auto;
} */
.p-dropdown-items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: #4338ca;
  background: #eef2ff;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item:first-child {
  margin-top: 0;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  margin: 0;
  padding: 0.75rem 1.25rem;
  border: 0 none;
  color: #4b5563;
  background: transparent;
  transition: box-shadow 0.2s;
  border-radius: 0;
}
.p-dropdown-item {
  cursor: pointer;
  font-weight: normal;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
}
.p-dropdown-item {
  cursor: pointer;
  font-weight: normal;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.upperHeader {
  width: 100%;
  padding: 15px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;

  .logoContainer {
    width: 250px;
    text-align: center;

    p {
      color: #171717;
      font-weight: 700;
      margin: 0;
      font-size: 19.7px;
      line-height: 22px;
      text-transform: uppercase;

      .logoText {
        font-size: 22px;
        display: inline-block;

        span {
          display: inline-block;
        }
      }
      .secondLogo {
        display: inline-block;
      }
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.aboutContainer {
  background: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  position: relative;
}
.eventsContainer {
  background: #fff;
  border-radius: 15px;
  height: 260px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  position: relative;
  z-index: 1;
  overflow-y: auto;
  padding-bottom: 20px;
}
.eventTitle {
  width: 100%;
  text-align: center;
  display: block;
  border-bottom: 2px solid #f08a5d;
  position: sticky;
  background: #fff;
  top: 0;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  padding: 10px 0;
}
.eventDetails {
  position: relative;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  overflow-y: auto;
}
.eventDetailsBox {
  position: relative;
  background-color: #ededed;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.dateContainer {
  position: relative;
  width: 70px;
  height: 70px;
  border-right: 1px solid;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #2e2e2e;
  border-radius: 10px;
  p {
    margin: 0;
    color: #f08a5d;
  }
  h2 {
    color: #f08a5d;
    font-weight: 600;
  }
}
.titleContainer {
  position: relative;
  width: calc(100% - 70px);
  padding: 5px 10px;

  a {
    color: #171717;
    font-size: 1.4rem;
    text-decoration: none;

    i {
      font-size: 2rem;
      transform: rotate(-45deg);
      transition: transform 0.3s;
    }
    &:hover {
      color: #f39e79;
    }

    &:hover i {
      transform: rotate(-45deg) translate(10px);
    }
  }
}
.dropDownContainer {
  position: absolute;
  width: max-content;
  background-color: white;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  top: 54px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  li {
    width: 100%;
    padding: 10px 20px;
    border-top: 1px solid #f08a5d;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:first-child {
      border-radius: 10px 10px 0 0;
      border: none;
    }
    &:last-child {
      border-radius: 0 0 10px 10px;
    }

    &:hover {
      background-color: #f08a5d;
      color: white;
    }
  }
}

@media (max-width: 950px) {
  .dropDownContainer {
    display: none;
    position: relative !important;
    top: 15px !important;
    left: 15px !important;
    background: transparent !important;
    color: white !important;
    border: 1px solid #f08a5d;
    width: 100% !important;
    left: 0 !important;
    transition: display 0.5s;
  }
  .eventsContainer {
    height: 100% !important;
  }
}

.loginModalContainer {
  position: fixed;
  top: 0;
  left: 0;
  background: #0000006e;
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100vh;
  z-index: 99999;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  /* display: none;
  transition: display 1s; */

  .formContainer {
    position: relative;
    width: 500px;
    background: #2e2e2e;
    padding: 20px;
    border-radius: 10px;

    .LoginTitle {
      width: 100%;
      text-align: center;
      color: #f08a5d;
      font-weight: 600;
      text-transform: uppercase;
    }

    .form {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 40px;

      form {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
      }

      input {
        position: relative;
        width: 100%;
        height: 60px;
        border: none;
        background-color: #171717;
        color: #f3f4f6;
        outline: none;
        font-size: 1rem;
        padding: 5px 60px 5px 15px;
        border-radius: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        margin-bottom: 20px;

        &:focus {
          border: 2px solid #f3f4f6;
        }
      }
      button {
        position: relative;
        padding: 10px 50px;
        background: transparent;
        color: #f08a5d;
        border: 1px solid #f08a5d;
        font-size: 20px;
        font-weight: 500;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
          transform 0.2s ease-in-out;

        &:hover {
          color: #f3f4f6;
          background-color: #f08a5d;
          transform: scale(1.1);
        }
      }
    }
  }
}

.modalCloseBtn {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #f08a5d;
  right: 15px;
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  transition: border-color 0.5s;

  i {
    color: #f08a5d;
    font-size: 20px;
    transition: color 0.5s, transform 0.2s;
  }

  &:hover {
    border: 2px solid #c40c0c;
  }
  &:hover i {
    color: #c40c0c;
    transform: scale(1.3);
  }
}

.eyes {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 10px;
  top: 90px;
  cursor: pointer;
}
.scrolledMenu {
  top: 72px !important;
}

.profileContainer {
  position: relative;
  width: 100%;
  background: #fff;
  border-radius: 15px;

  .profileImageContainer {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .profileBanner{
      width: 100%;
    height: 200px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    }

    .profileImage {
      position: absolute;
      width: 140px;
      height: 140px;
      background: #ffffff;
      padding: 3px;
      border-radius: 50%;
      top: 120px;
      left: 30px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid #000000;
      }
    }
    .nameContainer {
      padding: 25px;
      position: relative;
      width: 100%;
      margin-top: 50px;

      p {
        margin: 0;
      }
      .socialMediaIcons {
        width: 100%;
        position: relative;
        margin: 10px 0;
        display: flex;
        align-items: center;
        gap: 20px;

        i {
          cursor: pointer;
          display: block;
          width: 40px;
          height: 40px;
          background-color: #e2e2e2;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 18px;
          transition: background-color 0.2s linear, color 0.2s linear;

          &:hover {
            background-color: #f08a5d;
            color: #f3f4f6;
          }
        }
      }
    }
    .summary {
      position: relative;
      width: 100%;
      padding: 25px;

      h6 {
        color: #f08a5d;
        font-size: 20px;
      }
    }
    .buttonContainer {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      padding: 25px;

      button {
        position: relative;
        padding: 7px 30px;
        border: 1px solid #f08a5d;
        background: transparent;
        color: #f08a5d;
        font-size: 20px;
        font-weight: 400;

        &:first-child {
          background-color: #f08a5d;
          color: white;
        }
      }
    }
  }
}

.profileEditContainer {
  width: 100%;
  position: relative;
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;

  .profileFormContainer {
    width: 100%;

    .editTitle {
      width: 100%;
      text-align: center;
      margin-bottom: 30px;

      h3 {
        font-weight: 600;
        text-transform: uppercase;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 3px;
          background-color: #f08a5d;
        }
      }
    }

    .editForm,
    form {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: center;
      flex-wrap: wrap;

      input,
      textarea {
        position: relative;
        background-color: #f1f1f1;
        border: none;
        outline: none;
        padding: 10px;
        font-size: 20px;
        border-radius: 10px;

        &:first-child,
        &:nth-child(3),
        &:nth-child(5),
        &:nth-child(7) {
          width: 50%;
        }
      }
      .largeInput,
      textarea {
        width: 100%;
      }
      button {
        position: relative;
        padding: 7px 30px;
        border: 1px solid #f08a5d;
        background: transparent;
        color: #f08a5d;
        font-size: 20px;
        font-weight: 400;
        transition: background-color 0.2s, color 0.2s;

        &:hover {
          background-color: #f08a5d;
          color: #f1f1f1;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .editForm form input {
    width: 100% !important;
  }
}
@media (max-width: 420px) {
  .socialMediaIcons i {
    width: 30px !important;
    height: 30px !important;
    font-size: 14px !important;
  }
}

.userProfileContainer {
  position: relative;
  width: 100%;
  background: #fff;
  border-radius: 15px;

  .profileBannerContainer {
    width: 100%;
    height: 200px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    /* img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    } */
  }
  .userProfilePic {
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: #fff;
    left: 40px;
    top: 110px;
    padding: 4px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid black;
    }
  }
  .userNameContainer {
    position: relative;
    width: 100%;
    margin-top: 50px;
    padding: 30px;
    p {
      margin: 0;
    }
    .socialMediaIcons {
      width: 100%;
      position: relative;
      margin: 10px 0;
      display: flex;
      align-items: center;
      gap: 20px;

      i {
        cursor: pointer;
        display: block;
        width: 35px;
        height: 35px;
        background-color: #e2e2e2;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        transition: background-color 0.2s linear, color 0.2s linear;

        &:hover {
          background-color: #f08a5d;
          color: #f3f4f6;
        }
      }
    }
  }
  .summary {
    position: relative;
    width: 100%;

    h6 {
      color: #f08a5d;
      font-size: 20px;
    }
  }
  .buttonContainer {
    position: relative;
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;

    button {
      position: relative;
      padding: 7px 30px;
      border: 1px solid #f08a5d;
      background: transparent;
      color: #f08a5d;
      font-size: 20px;
      font-weight: 400;

      &:first-child {
        background-color: #f08a5d;
        color: white;
      }
    }
  }
}

label{
  width: 100%;
  text-align: left;
}